<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
       function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			crossDomain: false, // obviates need for sameOrigin test
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type)) {
					xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
				}
			}
		});
//       $.ajax({
//        type: 'DELETE',
//        url: 'http://127.0.0.1:8080/api/v1/default_guestbook/6401356696911872',
//        success: function () {
//        	alert('Object deleted')
//        },
//        failure: function () {
//        	alert('Error')
//        }
//      });

//      $.ajax({
//        type: 'PUT',
//        url: 'http://127.0.0.1:8080/api/v1/default_guestbook/5275456790069248',
//	    data: JSON.stringify({'message': 'new content'}),
//        success: function (data) {
//        	alert('Object updated')
//        },
//        failure: function () {
//        	alert('Error')
//        }
//      });
    </script>
  </head>
  <body>
    <table>
        {% for greeting in greetings %}
      <tr>
        <td>
          {% if greeting.author.nickname %}
            <b>{{ greeting.author }}</b> wrote:
          {% else %}
            An anonymous person wrote:
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <blockquote>{{ greeting.content|escape }}</blockquote>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{% url updateview %}?guestbook_id={{ greeting.key.id }}&guestbook_name={{guestbook_name}}">Update</a>
          <form id="deleteform_{{ greeting.key.id }}"
                action="{% url deleteview greeting.key.id guestbook_name %}" method="post">
            {% csrf_token %}
            <a href="#"
               onclick="document.getElementById('deleteform_{{ greeting.key.id }}').submit();">
              Delete</a>
          </form>
        </td>
      </tr>
        {% endfor %}
    </table>
    <a href="{{ url }}">{{ url_linktext }}</a>
    <a href="{% url signview %}?guestbook_name={{guestbook_name}}"> Sign Post </a>
    {% if  more %}
      <a href="{% url indexview %}?cursor={{cursor}}"> Next </a>
    {% endif %}
  </body>
</html>
