__pycache__/
*.py[cod]
*.swp
._*
*~
.DS_Store
*.bak
*.mo
.cache
.coverage
.sass-cache
PYSMELLTAGS
*.less
/settings_local.py

bin
vendor
.bundle
.buildout-*
.mr.developer.cfg
.installed.cfg
*.egg-info

static/css
static/js/release

node_modules

# Pycharm project files
.idea/
