div.greetingObject {
	background-color: #fff;
	border: 1px solid black;
	width: 400px;
	padding: 10px;
	overflow: hidden; /* I hear this helps clear floats inside */
}

div.greetingObject:hover {
	background-color: #def;
}

h3 {
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	margin: 0px;
}

p.author {
	font-style: normal;
	text-align: center;
	font-weight: bold;
	margin: 0px;
}

p.content {
	font-style: normal;
	text-align: center;
	margin: 10px;
}

p.date {
	position: absolute;
}

img {
	float: right;
	padding: 5px;
}
