.greetingWidget {
	border: 1px solid black;
	width: 400px;
	padding: 10px;
	overflow: hidden; /* I hear this helps clear floats inside */
}

.greetingWidget h3 {
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	margin: 0px;
}

.greetingWidget p.author {
	font-style: normal;
	text-align: center;
	font-weight: bold;
	margin: 0px;
}

.greetingWidget p.content {
	font-style: normal;
	text-align: center;
	margin: 10px;
}

.greetingWidget p.date {
	position: absolute;
}

.greetingWidget img {
	float: right;
	padding: 5px;
}
